body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

hr {
  margin: 32px 0;
}

button, input {
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin: 8px 0;
  padding: 8px;
  width: 100%;
}

input {
  border: 1px solid black;
}

button {
  border: 1px solid black;
  cursor: pointer;
}

.b1{
  color: rgb(255, 255, 255);
  background-color:rgb(80, 80, 150) ;
  font-family: 'FontAwesome';
  content: icon('/f142');
  width: 90%;
  padding: 10px;
  border: 1px solid white;
  margin-left: 0px;
  /* align-items: flex; */
  justify-content:"flex-end";
  display:flex-end;

}


/* .Collapsible {
  border: 1px solid white;
  background-color: rgb(80, 80, 150);
  text-align: left;
  content: '\02795';
  padding: 0 18px;
  height: "40px";
  width: "80%";
} */

/* .Collapsible__trigger{
  content: "\2796";
  color: white;
  height: "40px";
} */


.Collapsible {
  background-color: #fff;
}
/* .Collapsible__contentInner {
  padding: 10px;
  border: 1px solid lightGrey;
  border-top: 0;
} */
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  position: relative;
  border: 1px solid white;
  padding: 12px;
  background: rgb(80, 80, 150);
  color: white;
}
.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}


.page-container {
  display: flex;
  background-color: #ddd;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.content-container {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  max-width: 800px;
  padding: 32px;
}

.success {
  background-color: #90ee90;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
}

.fail {
  background-color: #ffcccb;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
}